/* https://coolors.co/a1e8af-94c595-747c92-372772-3a2449 */

body {
    background: linear-gradient(-45deg, #a1e8af, #94C595, #747C92, #372772, #3A2449);
    background-size: 400% 100%;
    animation: gradient 15s ease infinite;
    height: 100vh;
    overflow: hidden;
}
/************/
/* HOMEPAGE */
/************/
.main {
    margin: 40vh auto 0;
    width: fit-content;
    transition: 2s;
}
.header {
    text-align: center;
    font-size: 5vw;
    font-variant: small-caps;
    font-family: "Cohaerentia Regular", sans-serif;
    color: rgba(255,255,255, 0.8);
    font-weight: bolder;
}
.menu-item {
    font-size: 2vw;
    font-family: "Cohaerentia Regular", sans-serif;
    cursor: pointer;
    transition: .1s;
    color: rgba(255,255,255, 0.8);
    padding: 2px;
}
.menu-item:hover {
    background-color: rgba(255,255,255, 0.5);
    color: #333;
    border-radius: 2px;;
}
/*********************/
/* PORTFOLIO SECTION */
/*********************/
.portfolio-section {
    color: rgba(255,255,255, 0.8);
    font-size: 2.5vw;
    text-align: center;
}
#projects-list {
    display: inline-block;
    border: inset 2px rgba(255,255,255,0.3);
    width: 40%;
    height: 50vh;
    overflow-y: scroll;
    padding: 20px 20px 0 20px;
    border-radius: 3px;
}
.project-item {
    text-align: left;
    margin-bottom: 5px;
    cursor: pointer;
    padding: 8px 3px 0px 3px;
    transition: .5s;
}
.project-item:hover {
    background-color: rgba(255,255,255,0.4);
    color: #333;
}
.project-viewer {
    display: inline-block;
    border: inset 2px rgba(255,255,255,0.3);
    width: 50%;
    height: 50vh;
    margin-left: 20px;
    overflow-y: scroll;
    text-align: left;
    border-radius: 3px;
}
.project-viewer div {
    padding: 10px 15px 20px;
}
/*******************/
/* CONTACT SECTION */
/*******************/
.contact-section {
    color: rgba(255,255,255, 0.8);
    font-size: 2vw;
    text-align: center;
    margin-top: 7vh;
}
.contact-icons {
    width: 48%;
    display: inline-block;
    transition: .5s;
    transform: scale(0.9);
    color: rgba(255,255,255, 0.8);
}
.contact-icons:hover {
    transform: scale(1);
}
.contact-button {
    color: rgba(255,255,255, 0.8);
    font-size: 4vw;
    border: solid rgba(255,255,255, 0.8) 2px;
    border-radius: 100px;;
    padding: 4% 3% 2%;
}
.contact-button:hover {
    color: rgba(255,255,255, 0.8);
}
.contact-links {
    color: rgba(255,255,255,0.8);
}
.contact-links:hover {
    color: rgba(255,255,255,0.8);
    text-decoration: none;
}
/*****************/
/* MISCELLANEOUS */
/*****************/
#home-button {
    color: rgba(255,255,255, 0.8);
    font-size: 28px;
    position: absolute;
    text-align: center;
    right: 30px;
    bottom: 24px;
    width: 50px;
    height: 50px;
    border: solid 2px rgba(255,255,255, 0.8);
    border-radius: 100px;
    padding-top: 8px;
    cursor: pointer;
    transform: scale(0.9);
    transition-property: transform;
    transition-duration: 1s;
}
#home-button:hover {
    transform: scale(1)
}
.external-link::after {
    font-family: 'Font Awesome\ 5 Free';
    margin-left: 5px;
    content: '\f08e';
    font-weight: 600;
    font-size: .8em;
}
@media screen and (max-width: 1200px) {
    .header {
        font-variant: small-caps;
        font-size: 9vw;
    }
    .menu-item {
        font-size: 5.5vw;
    }
    .contact-section {
        color: rgba(255,255,255, 0.8);
        font-size: 2vw;
        text-align: center;
        margin-top: 15vh;
    }
    .contact-button {
        color: rgba(255,255,255, 0.8);
        font-size: 8vw;
        border: solid rgba(255,255,255, 0.8) 2px;
        border-radius: 200px;
        padding: 6% 4% 1%;
    }
    .contact-button:hover {
        color: rgba(255,255,255, 0.8);
    }
    .contact-links {
        color: rgba(255,255,255,0.8);
        font-size: 4vw;
    }
    .contact-links:hover {
        color: rgba(255,255,255,0.8);
        text-decoration: none;
    }
}
@media screen and (max-width: 800px) {
    .contact-icons {
        width: 100%;
        display: block;
        margin-bottom: 50px;
    }
    .contact-button {
        color: rgba(255,255,255, 0.8);
        font-size: 8vw;
        border: solid rgba(255,255,255, 0.8) 2px;
        border-radius: 200px;
        padding: 4% 3% 2%;
    }
    #projects-list {
        display: block;
        border: inset 2px rgba(255,255,255,0.3);
        height: 20vh;
        overflow-y: scroll;
        padding: 20px 20px 0 20px;
        margin: 5px;
        width: auto;
        font-size: 5.5vw;
    }
    .project-viewer {
        display: block;
        border: inset 2px rgba(255,255,255,0.3);
        height: 40vh; 
        overflow-y: scroll;
        margin: 5px;
        width: auto;
        font-size: 6vw;
        text-align: left;
    }
}
@keyframes gradient {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
}
@font-face { font-family: "Creato Display"; font-weight: bold; src: url('fonts/CreatoDisplay-Bold.otf'); }
@font-face { font-family: "Creato Display"; font-weight: bolder; src: url('fonts/CreatoDisplay-Black.otf'); }